body {
	text-align: center;
	min-width: 700px;
}

header {
	background: #9a9abb; 
	margin: 5px;
}

h1 {
	font-size: 60px;
	display: inline;
	text-shadow: 2px 2px 10px #eeddff;
}

img{
	width: 90px;
	height: 87px;
	margin: 0px;
}

img#contador_minas {
	width: 64px;
	height: 64px;
	margin-top: 2px;
}

img#kaboom {
	position: absolute;
	top: 110px;
	left: 20%;
	height: 700px;
	width: 700px;  
}

button {
	margin-bottom: 4px;
	width: 90px;
	height: 90px;
	cursor: pointer;
}

#elegir{
	margin-left: 10%;
	display: inline;
}

label{
	font-size: 40px;
}

select {
	font-size: 25px;
}

#elegir button {
	height: 55px;
	width: 100px;
	background: rgb(205,143,205);
	font-size: 30px;
	margin-left: 10px;
	border: 2px solid rgb(205,143,205);
	border-radius: 15px;
	cursor: pointer;
}

#elegir button:hover {
	filter: brightness(110%);
}

div#izquierda {
	margin-right: 10%;
	display: inline;
}


#fin img {
	margin: 0px;
	max-width: 200px;
	max-height: 250px;
	width: 28%;
	height: 50%;
}

#fin {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 64%;
	padding: 10px;
	min-width: 558px;
	max-width: 800px;
	min-height: 320px;
	background: #ffde89;
	border-radius: 15px;
	box-shadow: 3px 3px 3px 3px #efce79;
}

#cerrar {
	float: right;
	font-size: 50px;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#cerrar:hover {
	background: #ff8a8a;
}

#abrir {
	position: fixed;
	bottom: 2px;
	right: 10px;
	font-size: 36px;
	padding: 10px;
	width: 150px;
	background: #ffde89;
	border: 1px solid #ffde89;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 3px 3px 3px 3px #efce79;
}

#abrir:hover {
	filter: brightness(105%);
}

.espacio {
	margin-top: 130px;
}